/* Vars, style reset and fonts */
:root {
    --primary-dark: rgb(51, 44, 44);
    --primary-light: rgb(224, 209, 166);
    --background: rgb(134, 196, 155);
    --secondary-light: #e9dbc298;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'raleway';
    src: url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat-variablefont_wght-webfont.woff2') format('woff2'),
         url('montserrat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'smokum';
    src: url('smokum-regular-webfont.woff2') format('woff2'),
         url('smokum-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    height: 100vh;
    background-size: contain;
}


/* Page layout and design */
.left-container {
    display: flex;
    background-image: url('images/mcm-furniture.jpg');
    background-size: cover;
    width: 35%;
}

.title-bar {
    display: flex;
    background-color: var(--secondary-light);
    width: 100%;
    height: min-content;

}




/* .footer {   
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding: 16px
} */

.signup-container {
    display: flex;
    width: 65%;
    background-color: var(--primary-light);
}