/* Vars, style reset and fonts */
:root {
    --primary-dark: rgb(51, 44, 44);
    --primary-light: rgb(121, 233, 118);
    --background: rgb(134, 196, 155);
    --secondary-light: #97949498;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Philosopher';
    src: url('fonts/Philosopher.woff2') format('woff2'),
        url('fonts/Philosopher.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vanilla Whale';
    src: url('fonts/VanillaWhale-Regular.woff2') format('woff2'),
        url('fonts/VanillaWhale-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Texas Tango';
    src: url('fonts/TexasTangoBOLDPERSONALUSE.woff2') format('woff2'),
        url('fonts/TexasTangoBOLDPERSONALUSE.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hack';
    src: url('fonts/Hack-Regular.woff2') format('woff2'),
        url('fonts/Hack-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    display: flex;
    height: 100vh;
    font-family: 'Hack', 'Texas Tango', 'Vanilla Whale', 'Philosopher';
}


/* Page layout and design */
.left-container {
    display: flex;
    background-image: url('images/mcm-furniture.jpg');
    background-size: cover;
    width: 40%;
}

.title {
}

/* .footer {   
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding: 16px
} */

.signup-container {
    display: flex;
    background-color: #1F2937;
}